<!-- <div class="jumbotron">

</div> -->
<img src="images/NFL/nfl-hd-wallpaper.jpg" height="340" width="100%"/>
<div class="container-fluid">
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <h3>Latest News</h3>
    <div class="row">
      <article-preview ng-repeat="article in articles" info="article"></article-preview>
    </div>
    <!-- <div class="col-md-5" style="height: 40%; width: 10%; ">
        <p>Lorem Ipsum give me some bacon.</p>
    </div> -->
  </div>
  <div class="col-md-4 col-md-offset-1" style="height: 200px; width: 300px; border: 1px solid black;">
      <p>Lorem Ipsum give me some bacon.</p>
  </div>
</div>
</div>
